header{
    display: block;
}
#page-topbar{
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1002;
    background-color: #fff;
}
.navbar-header{
    width: 250px;
}
.navbar-header img{
    height: 100px;
    width: 120px;
}
#vertical-menu{
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-top: 100px;
    z-index: 1001;
}
#main-content{
    margin-left: 250px;
    overflow: hidden;
    display: block;
}
#charts-content{
    margin-top: 75px;
    height: auto;
    background-color: rgba(0,0,0,.03);
}
#welcome{
    width: 450px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.DimensionTitle{
    width: 160px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.bg-primary.bg-soft {
    background-color: rgba(85,110,230,.25)!important;
}
.btn-primary{
    margin-bottom: 5px;
    margin-left: 130px;
}
#sub-charts{
}
.chart-view{
    margin: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
footer{
    height: 75px;
}
@media(max-width:920px){
    #vertical-menu{
        width: 0px;
    }
    #main-content{
        margin-left: 0px;
    }
    .navbar-header img{
        height: 80px;
        width: 100px;
    }
}
