<header class="d-flex flex-wrap bg-dark text-light justify-content-between align-items-center">
    <a href="/" class="d-flex align-items-center text-light text-decoration-none">
        <span class="fs-4">SMR</span>
        <!-- <img src="../../assets/images/logo.png" alt=""> -->
    </a>
</header>
<div id="wrapper">
    <div id="settings" class="bg-dark text-light">

    </div>
    <div id="charts" class="bg-light text-dark">
        <apx-chart [series]="radarL4Chart.series" [chart]="radarL4Chart.chart" [xaxis]="radarL4Chart.xaxis"
            [stroke]="radarL4Chart.stroke" [markers]="radarL4Chart.markers" [fill]="radarL4Chart.fill"
            [title]="radarL4Chart.title" [yaxis]="radarL4Chart.yaxis"></apx-chart>
    </div>
</div>
<footer class="d-flex flex-wrap bg-dark text-light justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap" />
            </svg>
        </a>
        <span class="text-muted">&copy; 2021 SMR Project</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                    <use xlink:href="#twitter" />
                </svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                    <use xlink:href="#instagram" />
                </svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24">
                    <use xlink:href="#facebook" />
                </svg></a></li>
    </ul>
</footer>