<div *ngIf="_router.url === '/form'" id="mainForm">
    <div id="DoneInfo" class="bg-light"> 
        <div>
            <p>See Information:</p> 
            <select class="form-select" (change)="cambiarCiudad()" name="ciudad" id="selCiudad" >
                <option value="Donostia" selected>Donostia</option>
                <option value="Valencia">Valencia</option>
                <option value="Sevilla">Sevilla</option>
            </select>
            <button type="button" class="btn btn-white" routerLink="/dashboard">Go</button>
        </div>
    </div>
    <div id="divQuestions" class="bg-light">
        <div id="header">
            <img src="./assets/images/logo.png" alt="">
            <h1>SMR Questionnaire <br> <span>Please answer before continuing to the next answer</span></h1>
        </div>
        <div id="questions">
            <form>
                <!-- Informacion del usuario -->
                <div [ngStyle]="{'display': paginaActual === 0 ? 'block' : 'none'}">
                    <fieldset>
                        <mat-form-field appearance="outline">
                            <mat-label>City name</mat-label>
                            <mat-select (selectionChange)="changeCiudad($event.value)" id="cityName"
                                [formControl]="cityName" required>
                                <mat-option *ngFor="let ciudad of Ciudades" [value]="ciudad">
                                    {{ciudad}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="professionRole.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Profession role</mat-label>
                            <mat-select (selectionChange)="changeRole($event.value)" id="professionRole"
                                [formControl]="professionRole" required>
                                <mat-option *ngFor="let profession of Professions" [value]="profession">
                                    {{profession}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="professionRole.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </fieldset>

                    <mat-form-field class="yearsExperience" appearance="outline">
                        <mat-label>Years of Experience</mat-label>
                        <input type="number" matInput id="yearsExperience" [formControl]="yearsExperience" required>
                        <mat-error *ngIf="yearsExperience.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="email" appearance="outline">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" id="Email" [formControl]="Email" required>
                        <mat-error *ngIf="Email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="challenge" appearance="outline">
                        <mat-label>Can you rank the city's main challenges? The first one being the most important.
                        </mat-label>
                        <textarea [(ngModel)]="challenge" matInput placeholder="Construction..." id="challenge" [ngModelOptions]="{standalone: true}"></textarea>
                    </mat-form-field>
                    <div *ngIf="todoRellenado" id="Fill">
                        <p>
                            Fill in the fields
                        </p>
                    </div>
                </div>
                <app-questions [paginaActual]="paginaActual" [cantPaginas]="cantPaginas" [subdimensiones]="subdimensiones" [Email]="Email" [ciudad]="ciudad" [role]="role" [yearsExperience]="yearsExperience" [challenge]="challenge"></app-questions>
            </form>
        </div>
        <div class="controls">
            <a (click)="rePag()" href="javascript:void(0);" class="previous">&#8249;</a>
            <label id="lb" for="file"></label>
            <progress id="file" max="100" value="0"></progress>
            <a (click)="avPag();" href="javascript:void(0);" class="next">&#8250;</a>
        </div>
    </div>
</div>