nav{
    height: 15%;
}
#preguntas{
    /* background-color: red; */
    height: auto;
    min-height: 74.2%;
    margin: auto;
}
/* footer{
    height: 10%;
} */
footer div{
    background-color: rgba(0, 0, 0, 0.2);
}



